#java
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

#gradle
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

#idea
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

#mac
.DS_Store
